.footer {
    width: 100%;
    background-color: white;
    /* ---- */
    display: flex;
    justify-content: center;
    /* ---- */
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding: 10px;
}

.socialMedia svg {
  color: black;
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
}

.footer p {
  color: black;
}
